# SPDX-FileCopyrightText: Copyright (c) 2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT

*.iml
.classpath
.claude/
.DS_Store
.idea
.idea/
.project
.recommenders
.settings
/nbproject/
node_modules/
target/
