# SPDX-FileCopyrightText: Copyright (c) 2017-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: up
'on':
  push:
jobs:
  up:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: |-
          git fetch --tags --force && \
          latest=$(git tag --sort=creatordate | tail -1) && \
          sed -E -i "s/<version>[^<]+/<version>${latest}/g" README.md && \
          sed -E -i "s/org.cactoos:cactoos:.+/org.cactoos:cactoos::${latest}/g" README.md
      - uses: peter-evans/create-pull-request@v7
        with:
          sign-commits: true
          commit-message: 'new version in README'
          delete-branch: true
          title: 'New version in README'
          assignees: yegor256
          branch: up
          base: master
